<div class="col-md-3 d-none d-md-block" id="room-list">
    <div class="row">
        <div class="col">
                Topic : <a href="{% url 'mainapp:chat_room' topic %}">{{ topic }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <a href="{% url 'mainapp:topic_forum' topic %}" role="button">Forum</a>
        </div>
        <div class="col">
            <a href="{% url 'mainapp:chat_archive' topic %}" role="button">Logs</a>
        </div>
    </div>
    <br/>
    <p class="text-left">
        <span id="users-online" class="text-primary">0</span> <span id="users-online-indicator">users</span> online
    </p>
    <p class="text-left">
        <span id="lurkers-online" class="text-primary">0</span> <span id="onlookers-online-indicator">onlookers</span> online
    </p>
    <div class="text-left">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#userlistModalLongDesktop">User list</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="userlistModalLongDesktop" tabindex="-1" role="dialog" aria-labelledby="User list" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userlistModalLongTitle">User list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled" id="user_list">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <nav class="nav-pills nav-fill">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-sub-rooms-tab" data-toggle="tab" href="#nav-sub-rooms" role="tab" aria-controls="nav-sub-rooms" aria-selected="true">Sub rooms</a>
            <a class="nav-item nav-link" id="nav-topics-tab" data-toggle="tab" href="#nav-topics" role="tab" aria-controls="nav-topics" aria-selected="false">Topics</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-sub-rooms" role="tabpanel" aria-labelledby="nav-sub-rooms-tab">
            <ul class="list-unstyled text-left">
                {% for sub_room in sub_rooms %}
                    <br/>
                    <li>
                        <a href="#"># {{ sub_room.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab">
            <ul class="list-unstyled text-left">
                {% if user.is_authenticated %}
                    {% for room in subscribed_rooms %}
                        <br/>
                        <li>
                            <a href="{% url 'mainapp:chat_room' room.topic.name %}">{{ room.topic.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for room in default_rooms %}
                        <br/>
                        <li>
                            <a href="{% url 'mainapp:chat_room' room %}">{{ room }}</a>
                        </li>
                    {% endfor %}
                {% endif%}
            </ul>
        </div>
    </div>
</div>