{% extends "registration/base.html" %}
{% block title %}About Hackers Chat{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
{% include "registration/errors_and_messages.html" %}
<h2>About</h2>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3 text-left">
        <strong>What is Hackers Chat?</strong>
        <br/><br/>
        <p>Hackers Chat is a user driven community site built around the idea of topics (like subreddits), where each topic has a forum and a chat room. Topics are currently focused on cryptocurrencies, programming and technology, but will expand as the userbase grows. You can either join existing communities that you find interesting, or you can create your own community.</p>
        <p><strong>Note</strong>: The site is still under development.</p>
        <p>The source code for this site is available on <a href="https://github.com/ploggingdev/hackerschat" rel="noopener noreferrer nofollow" target="_blank">Github</a>.</p>
        <p>
        <p>Announcements about Hackers Chat will be made in one or more of the following places :
            <ul>
                <li>My <a href="https://www.ploggingdev.com/" target="_blank">blog</a></li>
                <li>My <a href="https://twitter.com/ploggingdev" rel="noopener noreferrer nofollow" target="_blank">twitter</a></li>
                <li>The Hackers Chat <a href="https://www.reddit.com/r/hackerschat/" rel="noopener noreferrer nofollow" target="_blank">subreddit</a></li>
                <li>The <a href="https://www.hackerschat.net/topics/hackerschat/" target="_blank">Hackers Chat</a> topic on this site</li>
            </ul>
        </p>
            - admin
            <br/>
            &nbsp;&nbsp;Email : ploggingdev [at] gmail
            <br/>
        </p>
    </div>
</div>
</div>
{% endblock %}