{% extends "registration/base.html" %}
{% block title %}About Hackers Chat{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
{% include "registration/errors_and_messages.html" %}
<h2>About</h2>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3 text-left">
        <strong>What is Hackers Chat?</strong>
        <br/><br/>
        <p>Hackers Chat is a public chat room based community site. Chat rooms are focused on cryptocurrencies, programming and technology related topics. You can either join existing chat rooms around topics that you find interesting, or you can create your own community.</p>
        <p>Currently in development : an api for bots.</p>
        <p>The source code for this site is available on <a href="https://github.com/ploggingdev/hackerschat" rel="noopener noreferrer nofollow" target="_blank">Github</a>.</p>
        <p>
            - admin
            <br/>
            &nbsp;&nbsp;Email : ploggingdev [at] gmail
            <br/>
            &nbsp;&nbsp;<a href="https://twitter.com/ploggingdev" rel="noopener noreferrer nofollow" target="_blank">twitter</a>
        </p>
    </div>
</div>
</div>
{% endblock %}