{% extends "registration/base.html" %}
{% block title %}About Hackers Chat{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
{% include "registration/errors_and_messages.html" %}
<h2>About</h2>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3 text-left">
        <strong>What is Hackers Chat?</strong>
        <br><br>
        <p>Hackers Chat is an experiment at building the community site that I wish existed : public chatroom based communites, pseudonymous users, transparent moderation logs, an open source code base and a site that is welcoming to non-technical users.</p>
       <p>Currently, there is a single chat room for all discussions and support for user created chat rooms will be added shortly.</p>
       <p>More details will be posted here. Stay tuned.</p>
    </div>
</div>
</div>
{% endblock %}