{% extends "registration/base.html" %}
{% load static %}

{% block title %}{{ topic.name|title }} Chat{% endblock %}
{% block meta_description %}{{ topic.name|title }} Chat on Hackers Chat.{% endblock %}
{% block content %}
<br/>
<style>
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: 60px; /* Margin bottom by footer height */
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
    }
    #room-list{
        overflow-y: scroll;
        max-height: 70vh;
        word-wrap:break-word;
        padding-left: 20px;
        padding-right: 20px;
    }
    #all_messages{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 70vh;
        word-wrap:break-word;
    }
    #chat-container{
        overflow-x: hidden;
    }
</style>
<div class="container-fluid" id="chat-container">
    {% include "registration/errors_and_messages.html" %}
    <div class="row d-md-none">
        <div class="col-6">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#userlistModalLong">User list</button>
            <!-- Modal -->
            <div class="modal fade" id="userlistModalLong" tabindex="-1" role="dialog" aria-labelledby="User list" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userlistModalLongTitle">User list</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <span id="users-online-modal" class="text-primary">0</span> <span id="users-online-indicator-modal">users</span> online
                            </p>
                            <p>
                                <span id="lurkers-online-modal" class="text-primary">0</span> <span id="onlookers-online-indicator-modal">onlookers</span> online
                            </p>
                            <ul class="list-unstyled" id="user_list-modal">
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#roomlistModalLong">Chat rooms</button>
            <!-- Modal -->
            <div class="modal fade" id="roomlistModalLong" tabindex="-1" role="dialog" aria-labelledby="Chat rooms" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="roomlistModalLongTitle">Chat rooms</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a class="btn btn-primary" href="{% url 'mainapp:chat_archive' 'general' %}" role="button">Chat logs</a>
                            <ul class="list-unstyled">
                                {% if user.is_authenticated %}
                                    {% for room in subscribed_rooms %}
                                        <br/>
                                        <li>
                                            <a href="{% url 'mainapp:chat_room' room.topic.name %}">{{ room.topic.name }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for room in default_rooms %}
                                        <br/>
                                        <li>
                                            <a href="{% url 'mainapp:chat_room' room %}">{{ room }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif%}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-9 text-left" id="all_messages">
            <input type="text" id="last_message_id" value="{{ first_message_id }}" hidden>
            {% if first_message_id > 0 %}
            <div class="text-center">
                <button id="load_old_messages" class="btn btn-primary">Load previous messages</button>
            </div>
            {% endif %}
            <ul class="list-group" id="chat">

                {% for message in chat_messages %}
                <li class="list-group-item">
                    <strong>
                        <a href="{% url 'user_auth:public_user_profile' message.user.username %}">{{ message.user }}</a> : </strong>
                    {{ message.message_html|safe }}
                </li>
                {% empty %}
                <div id="no_messages">No messages here</div>
                {% endfor %}
            </ul>
        </div>
        {% include "mainapp/sidebar_chat.html" %}
    </div>    
</div>
<br/>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" id="chat-form-container">
                <form id="chatform" autocomplete="off">
                    <div class="form-row">
                        <div class="col-9">
                            {% if user.is_authenticated %}
                            <input id="message" type="text" class="form-control focus_state" placeholder="Enter chat message here" maxlength="1500" required autofocus>
                            {% else %}
                            <input class="form-control form-control-lg" id="disabledInput" type="text" placeholder="Please login to chat" readonly>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <button id="go" type="submit" class="btn btn-primary input-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block extra_scripts %}

<script type="text/javascript" src='{% static "js/reconnecting-websockets.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat_topic.js" %}'></script>

{% endblock %}