{% extends "registration/base.html" %}
{% load static %}

{% block title %}Chat Archive - {{ topic.name }}{% endblock %}
{% block content %}
<br/>
<div class="container-fluid">
    {% include "registration/errors_and_messages.html" %}
    <br/>
    <h4>Chat Archive - {{ topic.name }}</h4>
    <br/>
    {% if not error_message %}
        <h5>Showing {{ chat_messages.count }} chat messages sent on {{ date }}</h5>
        <br/>
    {% endif %}
    <form method="get" action="">
        <label for="date">{{ message }}</label>
        <input name="date" id="date" type="date" required>
        &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    {% if error_message %}
        {{ error_message }}
    {% else %}
        <br/>
        <div class="row">
            <div class="col-md-8 offset-md-2 text-left">
                <p class="text-left"><strong>Time Zone : UTC</strong></p>
                <br/>
                <ul class="list-unstyled" style="word-wrap:break-word;">
                    {% for message in chat_messages %}
                        <li><i>{{ message.created }}</i> <strong>{{ message.user }} : </strong>{{ message.message_html | safe }}</li>
                        <br/>
                    {% endfor %}
                </ul>
                <br/>
                {% if next_page or prev_page %}
                <nav aria-label="Chat archive navigation">
                    <ul class="pagination justify-content-center">
                        {% if prev_page %}
                            <li class="page-item"><a class="page-link" href="{{ prev_page }}">Previous</a></li>
                        {% endif %}
                        {% if next_page %}
                            <li class="page-item"><a class="page-link" href="{{ next_page }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <br/>
</div>
{% endblock %}