{% extends "registration/base.html" %}
{% load static %}

{% block title %}Bored Hackers{% endblock %}
{% block content %}
<br/>
<style>
    #chat-user-list{
        overflow-y: scroll;
        max-height: 70vh;
        word-wrap:break-word;
    }
    #all_messages{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 70vh;
        word-wrap:break-word;
    }
    #chat-container{
        overflow-x: hidden;
    }
</style>
<div class="container-fluid" id="chat-container">
    {% include "registration/errors_and_messages.html" %}
    <br/>
    <div class="row">
            <div class="col-md-2 offset-md-1 text-left" id="chat-user-list">
                <p>
                    <span id="users-online" class="text-primary">0</span> <span id="users-online-indicator">users</span> online
                </p>
                <p>
                    <span id="lurkers-online" class="text-primary">0</span> <span id="onlookers-online-indicator">onlookers</span> online
                </p>
                <ul class="d-none d-md-block list-unstyled" id="user_list">
                </ul>
            </div>
        <div class="col-md-8 text-left" id="all_messages">
            <input type="text" id="last_message_id" value="{{ first_message_id }}" hidden>
            {% if first_message_id > 0 %}
            <div class="text-center">
                <button id="load_old_messages" class="btn btn-primary">Load previous messages</button>
            </div>
            {% endif %}
            <ul class="list-group" id="chat">

                {% for message in chat_messages %}
                <li class="list-group-item">
                    <strong>
                        <a href="{% url 'user_auth:public_user_profile' message.user.username %}">{{ message.user }}</a> : </strong>
                    {{ message.message_html|safe }}
                </li>
                {% empty %}
                <div id="no_messages">No messages here</div>
                {% endfor %}
            </ul>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-8 offset-md-3" id="chat-form-container">
            <form id="chatform" autocomplete="off">
                <div class="form-row">
                    <div class="col-9">
                        {% if user.is_authenticated %}
                        <input id="message" type="text" class="form-control focus_state" placeholder="Enter chat message here" required autofocus>
                        {% else %}
                        <input class="form-control form-control-lg" id="disabledInput" type="text" placeholder="Please login to chat" readonly>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        <button id="go" type="submit" class="btn btn-primary input-lg">Submit</button>
                    </div>
                </div>
            </form>
            <br/>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}

<script type="text/javascript" src='{% static "js/reconnecting-websockets.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock %}