{% extends "registration/base.html" %} 

{% load static %}

{% load custom_tags %}

{% block title %}Delete post - {{ post.title }} - {{ topic|title }} Forum {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block meta_description %}Delete post - {{ post.title }} - {{ topic_name|title }} Forum on Hackers Chat.{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include "registration/errors_and_messages.html" %}

    {% include "mainapp/mobile_links_modal_forum.html" %}
    <br/>
    <div class="row">
        <div class="col-md-9 text-center">
            {% include 'mainapp/forum_links.html' %}
            <br/>
            <em>Are you sure you want to delete the following post? :</em>
            <br/><br/>
            <p> 
                <strong>{{ post.title }}</strong>{% if not post.body %} ({{ post.url|get_netloc }}){% endif %}
            </p>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="delete_post" value="yes">
                <button class="btn btn-danger" type="submit">Delete</button> 
                <a href="{{ go_back_url }}" class="btn btn-default">Go back</a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        {% include "mainapp/sidebar_forum.html" %}
    </div>

    <br />

</div>

{% endblock %}

{% block extra_scripts %}

<script type="text/javascript" src='{% static "js/reconnecting-websockets.js" %}'></script>
<script type="text/javascript" src='{% static "js/forum_presence.js" %}'></script>

{% endblock %}