{% extends "registration/base.html" %} 

{% block title %}500 Internal Server Error{% endblock %}
{% block meta_description %}500 internal server error - Hackers Chat{% endblock %}

{% block content %}

<div class="container-fluid">
    
    {% include "registration/errors_and_messages.html" %}

    <div class="row">
        <div class="col-md-6 offset-md-3 text-left">
            <br />
            <ul class="list-group">
                <li class="list-group-item">
            <div class="text-center"><h3>Internal Server Error</h3></div>
            <p class="text-center">
            Aww geez Rick, we landed in dimension c-500. Something went wrong, we're not supposed to be here.
            </p>
            </li>
            </ul>
        </div>
    </div>
    <br />
    <br />

</div>

{% endblock %}