{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    {% include "registration/errors_and_messages.html" %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            
            <form class="form-horizontal" action="{% url 'user_auth:password_reset' %}" method="post">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label> 
                
                <div class="form-group"> 
                    <div class="col-sm-8 offset-sm-2">
                        {{ form.email |attr:"placeholder:Email" |add_class:"form-control" }} 
                    </div>
                </div>
                <div class="col-sm-8 offset-sm-2">
                <button class="btn btn-primary btn-block" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <br><br>
    <a class="btn btn-secondary" href="{% url 'user_auth:password_change' %}">Change password</a>
    <br><br>
    {% endif %}
</div>

{% endblock %}