{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    {% include "registration/errors_and_messages.html" %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
            <form class="form-horizontal" action="{% url 'user_auth:password_reset' %}" method="post">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label> 
                {{ form.email |attr:"placeholder:Email" |add_class:"form-control" }} 
                <br/>
                <button class="btn btn-primary btn-block" type="submit">Reset password</button>
            </form>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <br><br>
    <a class="btn btn-secondary" href="{% url 'user_auth:password_change' %}">Change password</a>
    <br><br>
    {% endif %}
</div>

{% endblock %}