{% extends "registration/base.html" %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block meta_description %}Password reset done page on Hackers Chat.{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
{% include "registration/errors_and_messages.html" %}
<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
<p> If the email is not connected to your profile, you won't recieve an email.</p>
</div>
{% endblock %}