{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Set new password{% endblock %}
{% block meta_description %}Password reset confirm page on Hackers Chat.{% endblock %}

{% block content %}
<br>
<div class="container-fluid">

    {% include "registration/errors_and_messages.html" %}

    {% if validlink %}
    <p><strong>Please enter (and confirm) your new password.</strong></p>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
            <form action="" method="post" class="form-horizontal">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"> 
                <div class="form-group">
                {{ form.new_password1 |attr:"placeholder:New password" |add_class:"form-control" }}
                </div>
                <div class="form-group"> 
                {{ form.new_password2 |attr:"placeholder:Confirm password" |add_class:"form-control" }}
                </div>
                <button class="btn btn-primary btn-block" type="submit">Change my password</button>
            </form>
        </div>
    </div>
    {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

</div>

{% endblock %}