{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}{{ user.username }} - Profile{% endblock %}
{% block meta_description %}{{ user.username }} - Profile on Hackers Chat{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    
    {% include "registration/errors_and_messages.html" %}

    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 text-left">
            <p><strong>Username : </strong>{{ user.username }}</p>
            <p><a href="{% url 'mainapp:my_posts' user.username %}">Posts</a></p>
            <p><strong>Comment karma : </strong>{{ user.userprofile.comment_karma }}</p> 
            <p><strong>Submission karma : </strong>{{ user.userprofile.submission_karma }}</p>  
            <p><strong>About : </strong></p>
            <p>{{ user.userprofile.about|linebreaksbr }}</p>
        </div>
    </div>

</div>

{% endblock %}