{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}{{ user.username }} - Profile{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    
    {% include "registration/errors_and_messages.html" %}

    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 text-left">
            <p><strong>Username : </strong>{{ user.username }}</p> 
            <p><strong>About : </strong></p>
            <p>{{ user.userprofile.about }}</p>
        </div>
    </div>

</div>

{% endblock %}